@font-face {
  font-family: "iconfont"; /* project id 2463955 */
  src: url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.eot");
  src: url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.woff") format("woff"),
    url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2463955_3y8lo3182tf.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
